#registerContainer {
    height: 100% !important;
    display: contents !important;
}

.title {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
}

.wrapper {
    animation: scroll 70s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    color: rgb(255, 255, 255);
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

@keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@media (prefers-reduced-motion) {
    .wrapper {
        animation: scroll 200s linear infinite;
    }
}

@media (min-width: 670px) {
    .title {
        font-size: 5rem;
    }
}

.form-floating {
    color: #b8b8b8;
}

.form-floating>.form-control,
.form-outline {
    padding: 1rem 0.75rem;
    margin-top: 1em;
}

.w-100 {
    width: 100%!important;
    margin-top: 1em;
}

.btn-block {
    width: 100%!important;
    margin-top: 1em;
}

.text-body {
    --bs-text-opacity: 1;
    color: rgb(165, 165, 165) !important;
    text-decoration-line: none;
}

.text-body:hover {
    --bs-text-opacity: 1;
    color: rgb(165, 165, 165) !important;
    text-decoration-line: none;
    background-color: aliceblue;
    opacity: 0.7;
    border-radius: .2em;
}

u {
    text-decoration: none !important;
}

#message-container {
    font-size: larger;
    font-style: italic;
}

#outer-container {
    background-color: rgb(153, 163, 163);
    opacity: 0.85;
    border-radius: .4em;
    margin-top: 1em;
    min-height: 20%;
}

.btn-dark {
    border-style: ridge;
    border-color: rgba(127, 255, 255, 0.233);
    border-width: 1px;
}

h4 {
    background-color: rgb(43, 44, 44);
    opacity: 0.8;
    padding-bottom: .2em;
    border-bottom: rgba(127, 255, 255, 0.233);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.form-outline.mb-4 {
    opacity: .8;
}